<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BqTa">

    <select id="getSampleDataList"
    resultType="java.util.HashMap">
        SELECT id, name FROM `ta-sample-453300.TA_DATASET.TA_SAMPLE_TABLE` LIMIT 1000
    </select>
</mapper>
